h1 {
	font-size: 12sp;
	font-style: italic;
}
p {
	border-style: ridge;
	text-indent: 33%;
	background-color: yellow;
}
h2 {
	color: black;
}
table, th, td {
	border: 1px solid black;
}
body {
	background-color: #0DA0F6;
}
