/*h1 {
	font-size: 12sp;
	font-style: italic;
}
p {
	border-style: ridge;
	text-indent: 33%;
	background-color: yellow;
}
h2 {
	color: black;
} */
<style>
	table, th, td {
		border: 1px solid black;
		background-color: #4CAF50;
		color: yellow;
	}
	tr:nth-child(2){
		background-color: orange;
		color: white;
	}
</style>
/*body {
	background-color: #0DA0F6;
}
